ion-header {
    // height: 70px;
    //background-color: black;
}
.tittle-header {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: black;
}
.in-toolbar.toolbar-title-default.hydrated {
    --min-height: unset!important;
}

.contain-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.contain-content ion-grid {
    width: 100%;
    padding: 0px;
}
.row-contain-avatar {
    display: flex;
    justify-content: center;
}
.icon-tick {
    width: 20px;
    height: 20px;
}
.row-text-change-profied {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.row-name {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.row-email {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.row-email-tick {
    //border-bottom: 1px solid #ddd;
    padding: 10px;
}
.row-email-tick ion-label {
    padding-left: 10px;
    color: #2ab72a !important;
}
.row-password {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.row-password ion-col {
    display: flex;
    align-items: center;
}
.row-password ion-col button {
   height: 40px;
   width: 170px;
   border-radius: 20px;
   font-weight: 500;
   font-family: fantasy;
    font-size: 16px;
   color: #666;
}

.tittle-column {
    font-weight: 500;
    font-family: fantasy;
    font-size: 18px;
    color: #020202;
}
.content-column {
    font-size: 14px;
}


.footer ion-button{
    border: #dedede5e 3px solid;
    border-radius: 5px;
    background-color: #eee;
    font-weight: 500;
    font-family: fantasy;
    font-size: 18px;
    color: #020202;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    height: auto;
}

.button-native {
    background-color: transparent!important;
    box-shadow: none!important;
}
