<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <ion-card>
        <ion-card-header > 
          <div class="ion-card-header">
              <img class="md-img" src = {{showInfor.avataBook}} style="width: 70px;height: 100px;" />
              <ion-label>
                <h5 style="font-size: 12px;">Tên: {{showInfor.title}}</h5>
                <h5 style="font-size: 12px;">Tác giả: {{showInfor.author}}</h5>
                <h5 style="font-size: 12px;">NXB: {{showInfor.publishingCompany}}</h5>
                <h5 style="font-size: 12px;">Người dịch: {{showInfor.translator}}</h5>
                <h5 style="font-size: 12px;">Ngày xuất bản: {{showInfor.releaseDate}}</h5>
              </ion-label>
            </div>
            <ion-card-subtitle>Tóm tắt sơ lược</ion-card-subtitle>
          </ion-card-header>
        <ion-card-content>
            <p innerHTML="{{showInfor.contentPage}}"></p>
        </ion-card-content>
      </ion-card>
</ion-content>
