
.tittle-header {
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.contain-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.contain-content ion-grid {
    width: 100%;
    padding: 0px;
}
.contain-content ion-grid ion-row{
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #dedede;
}

.row-sing-in{
    margin-top: 10px;
}
.row-sing-in ion-col .row-sing-in-fb {
    width: 100%;
    height: 50px;
    background-color: #123f71;
    font-family: fantasy;
    font-size: 18px;
    color: #f3f0f0;
}
.row-input ion-input {
    border: #f1efef8c 2px solid;
    padding-left: 10px !important;
    display: inline-block;
}
.row-sing-in ion-col .row-sing-in-email {
    width: 100%;
    height: 50px;
    background-color: #eee;
    font-family: fantasy;
    font-size: 18px;
    border: #dedede5e 3px solid;
    color: #020202;
}
.row-text {
    text-align: right;
    font-size: 14px;
}

.row-space {
    height: 50px;
}

.text-already {
    font-size: 14px;
    color: #545252ad;
    text-align: center;
}


.wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10000
}
.legend {
padding: 10px;
margin: 0 auto;
background: #ffffff;
display: inline-block;
color: gray;

}
.legend:after {
content: '';
position: absolute;
background: #d3d3d3;
width: 100%;
height: 1px;
top: 50%;
left: 0;
transform: translateY(-50%);
z-index: -1;
}

.footer ion-button{margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;
    border: #dedede5e 3px solid;
    font-family: fantasy;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}