<ion-header>
  <ion-toolbar>
    <ion-title class = "tittle-header">LOGIN WITH EMAIL</ion-title>
  </ion-toolbar>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/css/ionic.bundle.css"/>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    ion-grid .row-avata {
      /* background-color: #f7f7f7; */
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
      padding: 10px;
    }
    
  </style>
</ion-header>

<ion-content>
  <div class = "contain-content">
    <ion-grid>
        <ion-row class = "row-sing-up">
          <ion-col size = 12 class = "row-input">
              <ion-input placeholder="Email"></ion-input>
          </ion-col>
          <ion-col size = 12 class = "row-input">
              <ion-input placeholder="Password"></ion-input>
          </ion-col>
          <ion-col size = 12 class = "row-text">
            <ion-label color = "primary">Forgot password?</ion-label>
          </ion-col>
          <ion-col size = 12>
              <button class = "row-sing-up-email">LOGIN IN</button>
          </ion-col>
          <ion-col size = 12 class = "row-line">
            <div class="wrapper">
                <div class="legend">OR</div>
            </div>
          </ion-col>
          <ion-col size = 12>
            <button class = "row-sing-up-fb">CONTINUE WITH FACEBOOK</button>
          </ion-col>
        
        </ion-row>

    </ion-grid>
    <section class="full-width" class = "footer">
        <p class = "text-already">
            don't have an account?
        </p>
        <ion-button expand="full" color="light">SING UP</ion-button>
      </section>
  </div>
</ion-content>
